@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.linear-activity {
    overflow: hidden;
    /** width: 50%; **/
    height: 4px;
    background-color: #ffffff;
    /** margin: 20px auto; **/
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.determinate {
    position: relative;
    max-width: 100%;
    height: 100%;
    -webkit-transition: width 500ms ease-out 1s;
    -moz-transition: width 500ms ease-out 1s;
    -o-transition: width 500ms ease-out 1s;
    transition: width 500ms ease-out 1s;
    background-color: #ffffff;
}

.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.indeterminate-none {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
        background: red;
    }
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {
        left: 100%;
        width: 10%;
        background: red;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
        background: red;
    }
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {
        left: 100%;
        width: 10%;
        background: red;
    }
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: rgb(2,2,203);
    background: linear-gradient(0deg, rgba(2,2,203,1) 0%, rgba(4,4,252,1) 100%);
    width: 100%;

}

.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}